*{
    box-sizing: border-box;
}


.container_siembra{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #60d697;
    align-items: center;
}

.indicacion{
    margin-top: 80px;
    font-size: 15px;
    /* padding: 5px; */
    width: 310px;
    height: 70px;
}

h2{
    /* margin-top: 10px; */
    text-align: center;
}

nav{
    width: 300px;
    display: flex;
    flex-direction: column;

}

.wizard {
    position: fixed;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(136, 133, 133, 0.442); */
    z-index: 10;
    top: 0;
    /* transition: all; */
    /* transform: scale(0); */
  }

.a{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: none;
    padding: 8px;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: rgba(131, 131, 131, 0.418);
    
}

.ul{
    background-color: #00000098;
    text-align: center;
    width: 300px;
    /* display: none; */
    position: relative;
    /* margin-top: 48px; */
    z-index: 100; 
}

li{
    padding: 5px 0;
    color: #fff;
}


.divisor{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: rgb(105, 105, 105);
}


.button_cultivo{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: none;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: rgba(131, 131, 131, 0.418);
    /* background-color: rgb(147, 188, 160); */
    padding: 8px;
}



#cultivos{
    padding: 10px;
    height: 350px;
}

#cultivos h3{
    font-size: 23px;
    color: rgb(255, 255, 255);
    padding: 5px 0;
}


.descripcion{
    display: flex;
    margin-bottom: 10px;
}

p{  
    display: block;
    font-size: 14px;
    color: rgb(224, 224, 224);
    flex-shrink: 50;
}

.image{
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    flex-shrink: 1;
}

.botones button{
    margin: 0 5px;
}

