*,*:after,*:before{
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
}

.container_siembra{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #60d697;
    align-items: center;
}

.help__reserva{
    position: fixed;
    margin-top: 30%;
    width: 80%;
    margin-left: calc(100% - 324px);
    height: 500px;
    padding: 20px;
    background-color: #32665b;
    display: none;
    z-index: 20;
    
    
}

.help__reserva p{
    font-size: 20px;
    /* margin-bottom: 20px; */
    color: rgb(255, 255, 255);
    box-shadow: #00000098;
    
}

.help__reserva ul{
    text-align: center;
}

.help__reserva li{
    padding: 20px 0;
    font-size: 20px;
    color: #7cd660;
}

p:last-child{
    margin-top: 0px;
}






.indicacion{
    margin-top: 80px;
    font-size: 15px;
    /* padding: 5px; */
    width: 310px;
    height: 70px;
}

h2{
    /* margin-top: 10px; */
    text-align: center;
}

nav{
    width: 300px;
    display: flex;
    flex-direction: column;

}

nav  img{
    width: 20px;
    height: 20px;
}

.wizard {
    position: fixed;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(136, 133, 133, 0.442); */
    z-index: 10;
    top: 0;
    /* transition: all; */
    /* transform: scale(0); */
  }


.select__modulo{
    margin-top: 20px;
    display: block;
    width: 300px;
    text-align: center;
    border: none;
    background-color: rgba(131, 131, 131, 0.418);
    font-size: 23px;
    padding: 8px;
    max-width: 300px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.op{
    display: inline;
    appearance: none;
    background-color: #314d46;
    font-size: 20px;
    /* width: 300px; */
    /* max-width: 300px; */
}

select{
    width: 200px;
}
select::-ms-expand {
    display: none;
  }

.mod{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: none;
    padding: 8px;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: rgba(131, 131, 131, 0.418);
}

.ul{
    background-color: #00000098;
    text-align: center;
    width: 300px;
    /* display: none; */
    position: relative;
    /* margin-top: 48px; */
    z-index: 100; 
}

li{
    padding: 5px 0;
    color: #fff;
}


.divisor{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: rgb(105, 105, 105);
}


.button_cultivo{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: none;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: rgba(131, 131, 131, 0.418);
    /* background-color: rgb(147, 188, 160); */
    padding: 8px;
}



#cultivos{
    height: 300px;
    
}

#cultivos h3{
    font-size: 23px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}


.descripcion{
    display: flex;
    margin: 10px;
    align-items: center;
}

p{  
    display: block;
    font-size: 14px;
    color: rgb(224, 224, 224);
    flex-shrink: 10;
}

.image{
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    flex-shrink: 1;
}

.botones button{
    margin: 0 5px;
}

/* .container__check{
    width: 20px;
    height: 20px;
} */

.check{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #314d46;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.check:checked{
    background-color: #2eb96f;
    border: 1px solid rgb(253, 253, 253);
    transition: all 0.3s ease-in-out;
    visibility: visible;
} 

.cultivos__seleccionados{
    /* text-align: center; */
    /* height: 50px; */
    /* background-color: #fff; */
    background-color: #00000098;
}

.container__cultivo{
    display: flex;
    padding: 15px;
    /* align-items: center; */
}

.container__cultivo h3{
   
    color: #fff;
    ;
}
.container__cultivo img{
    margin-left: auto;
}
