*,*:after,*:before{
    box-sizing: border-box;
}

html{
    box-sizing: inherit;
}



.container_siembra{
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: #60d697; */
    background-color: #ffffff;
    align-items: center;
}



.confirmacion{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(50vw - 150px);
    margin-top: calc(55vh - 150px);
    
    background-color: #9ff3b4;
    width: 300px;
    z-index: 20;
    padding: 20px 10px;
    
    display: none;
    text-align: center;
   
}

.confirmacion h3{
    color: #000000;
    font-size: 25px;
    padding: 10px;
}

.confirmacion > div > button{
    width: 50px;
    padding: 10px 15px;
    margin: 0 15px;
    font-size: 18px;
    background-color:  rgb(147, 188, 160);
}

.message__error{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: calc(50vw - 150px);
    margin-top: calc(55vh - 150px);
    
    background-color: #9ff3b4;
    width: 300px;
    z-index: 20;
    padding: 20px 10px;
    
    display: none;
    text-align: center;
}

.message__error h3{
    color: #000000;
    font-size: 25px;
    padding: 10px;
}

.help__reserva{
    position: fixed;
    margin-top: 30%;
    width: 80%;
    margin-left: calc(100% - 324px);
    height: 550px;
    padding: 20px;
    background-color: #9ff3b4;
    /* background-color: #32665b; */
    display: none;
    z-index: 20;
    
}


.help__reserva p{
    font-size: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: #00000098;
    font-weight: 700;
}

.help__reserva ul{
    text-align: center;
    /* height: 0px; */
    /* transition: all .5s; */
}

.help__reserva li{
    padding: 15px 0; 
    font-size: 20px;
    color: #e9281a;
    text-align: left;
    margin: 10px 0;
    font-weight: 700;
}

p:last-child{
    margin-top: 5px;
    color: #314d46;
}


.indicacion{
    margin-top: 80px;
    font-size: 15px;
    /* padding: 5px; */
    width: 310px;
    height: 70px;
}

h2{
    /* margin-top: 10px; */
    text-align: center;
}

nav{
    width: 300px;
    display: flex;
    flex-direction: column;

}

nav  img{
    width: 20px;
    height: 20px;
}

.wizard {
    position: fixed;
    /* display: none; */
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(136, 133, 133, 0.442); */
    z-index: 10;
    top: 0;
    /* transition: all; */
    /* transform: scale(0); */
  }



.op{
    display: inline;
    appearance: none;
    background-color: #314d46;
    font-size: 20px;
    /* width: 300px; */
    /* max-width: 300px; */
}


.mod{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: none;
    padding: 8px;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    /* transition: all .5s; */
    background-color: rgba(131, 131, 131, 0.418);
    /* box-shadow: 20px 20px 20px rgb(0, 0, 0); */
}

.mod:focus .ul{
    height: 261px;
}

.ul{
    background-color: #00000098;
    text-align: center;
    width: 300px;
    /* display: none; */
    position: relative;
    /* margin-top: 48px; */
    z-index: 100;
    animation: expander .5s;
}

@keyframes expander {
    0%{
        height: 0px;
    }
    100%{
        height: 271px;
    }
}

@keyframes contraer {
    0%{
        height: 271px;
    }
    100%{
        height: 0px;
    }
}




li{
    padding: 5px 0;
    color: #fff;
}


.divisor{
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: rgba(184, 181, 181, 0.26);
}


.button_cultivo{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 300px;
    border: none;
    margin-top: 20px;
    font-size: 23px;
    letter-spacing: 1px;
    background-color: rgba(131, 131, 131, 0.418);
    /* background-color: rgb(147, 188, 160); */
    padding: 8px;
}



#cultivos{
    height: 300px;
    
}

#cultivos h3{
    font-size: 23px;
    color: rgb(255, 255, 255);
    margin-top: 15px;
}


.descripcion{
    display: flex;
    margin: 10px;
    align-items: center;

}

p{  
    display: block;
    font-size: 14px;
    color: rgb(224, 224, 224);
    flex-shrink: 10;
    width: 190px;
    margin-right: 6px;
}

.image{
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    flex-shrink: 1;
}

.botones button{
    margin: 0 5px;
}

/* .container__check{
    width: 20px;
    height: 20px;
} */

.check{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #314d46;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}

.check:checked{
    background-color: #2eb96f;
    border: 1px solid rgb(253, 253, 253);
    transition: all 0.3s ease-in-out;
    visibility: visible;
} 

.cultivos__seleccionados{
    /* text-align: center; */
    /* height: 50px; */
    /* background-color: #fff; */
    background-color: #00000098;
}

.container__cultivo{
    display: flex;
    padding: 15px;
    /* align-items: center; */
}

.container__cultivo h3{
  
    color: #fff;
}
.container__cultivo img{
    margin-left: auto;
}

